[submodule "submodules/sdl-gpu"]
  path = submodules/sdl-gpu
  url = https://github.com/grimfang4/sdl-gpu.git
  shallow = true
[submodule "submodules/sdl"]
	path = submodules/sdl
	url = https://github.com/libsdl-org/SDL.git
  shallow = true
[submodule "submodules/sdl_ttf"]
	path = submodules/sdl_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
  shallow = true
[submodule "submodules/sdl_mixer"]
	path = submodules/sdl_mixer
	url = https://github.com/libsdl-org/SDL_mixer.git
  shallow = true
[submodule "submodules/emscripten"]
  path = submodules/emscripten
  url = https://github.com/emscripten-core/emscripten.git
  shallow = true

